{% extends "base.html" %}

{% block content %}


<div class="container mt-4">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>Detalle de Inversión: {{ expense_type_detail.description }}</h2>
            <div>
                <a href="{% url 'expense_type_details:edit' expense_type_detail.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'expense_type_details:delete' expense_type_detail.id %}" class="btn btn-danger">Eliminar</a>
                <a href="{% url 'expense_type_details:index' %}" class="btn btn-secondary">Volver</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-12">
                    <h4 class="border-bottom pb-2">Información General</h4>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <strong>Descripción:</strong>
                    <p>{{ expense_type_detail.description }}</p>
                </div>
                <div class="col-md-6">
                    <strong>Notas:</strong>
                    <p>{{ expense_type_detail.notes }}</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}