{% extends "base.html" %}

{% block content %}
    <br>
    <a href="{% url 'expense_type_details:create' %}" class="btn btn-primary">Agregar nuevo Detalle de Gasto</a>
    <br><br>
    {% if expense_type_details %}
        <h1>Lista de Detalles de Gastos</h1>
        <table id="expense_type_details_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Notas</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for expense_type_detail in expense_type_details %}
                    <tr>
                        <td>{{ expense_type_detail.description }}</td>
                        <td>{{ expense_type_detail.notes }}</td>
                        <td><a href="{% url 'expense_type_details:detail' expense_type_detail.id %}">Ver</a></td>
                        <td><a href="{% url 'expense_type_details:edit' expense_type_detail.id %}">Editar</a></td>
                        <td><a href="{% url 'expense_type_details:delete' expense_type_detail.id %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay detalles de gasto disponibles</p>
    {% endif %}

    <script>
        $(document).ready(function() {
            $('#expense_type_details_table').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
                }
            });
        });
    </script>
{% endblock %}
