<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Terrenos Bragado</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects:index' %}">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'lands:index' %}">Terrenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'people:index' %}">Personas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sales:index' %}">Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sales_summary:index' %}">Resumen Ventas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'investments:index' %}">Inversiones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'expenses:index' %}">Gastos e Impuestos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sellers:index' %}">Vendedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'payers:index' %}">Pagadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'payment_receivers:index' %}">Cobradores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'expense_types:index' %}">Tipos de Gastos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'expense_type_details:index' %}">Detalles de Gastos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382zM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0"/>
              </svg>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              <li><a class="nav-link" href="{% url 'password_change' %}">Cambiar Contraseña</a></li>
              <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="nav-link" value="Cerrar Sesión" />
                    <input type="hidden" name="next" value="/" />
                  </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>