{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Eliminar Concepto de Inversión</h5>
        </div>
        <div class="card-body">
        
            <p>Esta seguro de querer eliminar el concepto de inversión "{{ expense_type.description }}"?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Si, eliminar</button>
                <a href="{% url 'expense_types:detail' expense_type.id %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}