{% extends "base.html" %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            Terreno {{ land.manual_id }}{{ land.block }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">{{ land.width }} x {{ land.length }}</p>
            <p class="card-text">{{ land.price }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            <a href="{% url 'lands:edit' land.id %}" class="btn btn-warning">Editar Terreno</a>
            <a href="{% url 'lands:delete' land.id %}" class="btn btn-danger">Eliminar Terreno</a>
        </div>
    </div>
    
{% endblock %}
